//side-left images and parthners

.image-man
  display: block
  height: 100%
  position: relative
  background-color: #38c172

.partners-brand
  display: block
  position: relative
  height: 100px
  background: $blue


//side-right values of search

.header-values-partners
  background: #81ccaa

.list-price
  list-style-type: none

  &:hover

    a
      text-decoration: none

  a
    color: #000

.title-values-partners
  background-color: #fff
  text-align: center




