//side-left images and parthners

.image-man
  display: block
  position: relative

  img
    width: 200px
    height: 150px

.partners-brand
  display: block
  position: relative
  height: 150px

.partners-brand.first
  background-image: url("https://i.imgur.com/mreSNEN.png")
  background-size: 290px
  background-repeat: no-repeat

.calling
  p
    font-size: 24px
    font-weight: lighter
    text-transform: uppercase

    
.partners-brand.second
  background-image: url("https://i.imgur.com/OP93COM.png")
  background-size: 290px 100px
  background-repeat: no-repeat


//side-right values of search

.header-values-partners
  background: #81ccaa

.list-price
  list-style-type: none

  &:hover

    a
      text-decoration: none

  a
    color: #000

.title-values-partners
  background-color: #fff
  text-align: center




