.page-footer
  background-color: $darkBlue
  color: $fontGray

  .container-company,.container-contact
    padding: 30px 0px

  .title-footer
    font-size: 18px
    font-weight: 300
    margin-bottom: 1rem


  .about-company,
  .btn.btn-footer
    font-size: 12px


  .btn.btn-footer
    background-color: $rose
    color: $fontGray
    padding: 0.5px !important


  .partners-footer
    margin: 30px 0px

  .list-footer
    list-style: none
    padding: 0px !important


  .item-list-footer
    padding: 3px 0px
    a
      color: $fontGray


      &:hover
        text-decoration: none
        color: $fontHoverFooter
      


  .base-footer
    background-color: $rose
    padding: 10px 0px
    font-size: 12px
    a
      color: $fontGray


